@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Noto+Serif&display=swap');
html,
body {
    background-color: rgb(44, 111, 179);
    min-height: 100%;
    word-spacing: normal;
    margin: 0;
    padding: 0;
}

#section {
    background-color: grey;
    color: black;
    min-height: 80%;
    font-size: 20px;
    line-height: 40px;
}


/* Beginning code For cursor inside a circle */

.circle {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 10000;
}

.circle::before {
    content: "";
    display: block;
    width: 35px;
    height: 35px;
    border: 1.5px solid #0c1110;
    border-radius: 50%;
    background: transparent;
    transform: translate(-50%, -50%);
    animation: pulse 300ms ease-in-out alternate infinite
}

p {
    font-size: 1.5rem;
}

@keyframes pulse {
    from {
        transform: translate(-50%, -50%) scale(.8);
    }
    to {
        transform: translate(-50%, -50%) scale(1.5);
    }
}


/* End of code For cursor inside a circle */

.form,
h1 {
    text-align: center;
    font-size: 30px;
    font-style: arial, serif;
    font-weight: bolder;
    line-height: 30px;
    text-decoration: underline black;
}

#lastname {
    text-align: center;
    line-break: pre;
}

#form {
    background-color: black;
    color: #fff;
    font-size: 15px;
    font-family: sans-serif;
    text-align: center;
    float: center;
}