html,
body {
    background-image: url(./images/caves.jpg);
    color: #fff;
    line-height: 40px;
    margin: 0;
    padding: 0;
}


/* Beginning code For cursor inside a circle */

.circle {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 10000;
}

.circle::before {
    content: "";
    display: block;
    width: 35px;
    height: 35px;
    border: 1.5px solid #fff;
    border-radius: 50%;
    background: transparent;
    transform: translate(-50%, -50%);
    animation: pulse 300ms ease-in-out alternate infinite
}

p {
    font-size: 1.5rem;
}

@keyframes pulse {
    from {
        transform: translate(-50%, -50%) scale(.8);
    }
    to {
        transform: translate(-50%, -50%) scale(1.5);
    }
}


/* End of code For cursor inside a circle */

.world {
    text-align: center;
    text-decoration: underline #fff;
}

p {
    background-origin: padding-box;
    text-emphasis: initial;
    padding: 0em;
    margin: 2rem;
    text-align: center;
}

table,
th,
td {
    border: 1px solid black;
    padding: 5px;
    border-color: lightblue;
}

table {
    border-spacing: 15px;
    border-color: lightblue;
}

#great {
    color: lightseagreen;
    text-emphasis: inherit;
    padding: 4px;
    font: bolder;
}

div,
li,
a {
    text-decoration: lightgreen;
}

#form {
    background-color: grey;
    color: black;
    cursor: pointer;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

a:link {
    color: rgb(243, 10, 10);
    background-color: black;
    text-decoration: none;
}

a:visited {
    color: #fff;
    background-color: black;
    text-decoration: none;
}

a:hover {
    color: skyblue;
    background-color: darkblue;
    text-decoration: underline;
}

a:active {
    color: tomato;
    background-color: teal;
    text-decoration: underline;
}