html,
body {
    background-color: navy;
    color: #fff;
}

.sidebar {
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 40px;
}

.sidebar a {
    padding: 40px 50px 80px 90px;
    text-decoration: none;
    font-size: 25px;
    color: gray;
    display: block;
}

.sidebar a:hover {
    color: seagreen;
}

.kickstart {
    height: fit-content;
    width: 190px;
    display: block;
}

#kickstart {
    top: 0;
    text-align: center;
    float: center;
    position: fixed;
}