body {
    background-image: url(./images/caves.jpg);
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: cover;
}


/* Beginning code For cursor inside a circle */

.circle {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 10000;
}

.circle::before {
    content: "";
    display: block;
    width: 35px;
    height: 35px;
    border: 1.5px solid #fff;
    border-radius: 50%;
    background: transparent;
    transform: translate(-50%, -50%);
    animation: pulse 300ms ease-in-out alternate infinite
}

p {
    font-size: 1.5rem;
}

@keyframes pulse {
    from {
        transform: translate(-50%, -50%) scale(.8);
    }
    to {
        transform: translate(-50%, -50%) scale(1.5);
    }
}


/* End of code For cursor inside a circle */

.intro {
    text-align: center;
    margin-top: 50px;
}

.intro p {
    margin: 2rem;
    border-bottom: 1px solid #fff;
}

table {
    width: 100%;
}

table,
th,
td {
    border: 1px solid lightblue;
    padding: 5px;
}

table {
    border-spacing: 15px;
}

#great {
    color: rgb(255, 255, 255);
    padding: 4px;
    text-align: center;
    font-size: 20px;
    border: hidden;
    border-radius: 200%;
    background-color: rgba(221, 221, 221, 0.438);
}

div,
li,
a {
    text-decoration: lightgreen;
}

#form {
    background-color: grey;
    color: black;
    cursor: pointer;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

a:link {
    color: rgb(243, 10, 10);
    background-color: black;
    text-decoration: none;
}

a:visited {
    color: #fff;
    background-color: black;
    text-decoration: none;
}

a:hover {
    color: skyblue;
    background-color: darkblue;
    text-decoration: underline;
}

a:active {
    color: tomato;
    background-color: teal;
    text-decoration: underline;
}